.review-main {
  padding-left: 50px;
}
.review-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}
.review-item .review-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}
.review-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.review-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.review-item .quote-icon-left,
.review-item .quote-icon-right {
  color: #e1f0fa;
  font-size: 26px;
}
.review-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.review-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.review-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
