* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a:hover {
  text-decoration: none !important;
}
a {
  color: #0000;
}
img {
  width: 100%;
}
.links__color {
  color: #000;
}

.links__color:hover {
  color: #000;
}

.primary__color {
  color: #1e69b8;
}

.btn__link {
  color: #fff;
}
.btn__link:hover {
  color: #fff;
}
section {
  padding: 50px 0;
}
section:nth-child(even) {
  background-color: #f7f7f7;
}
.font__bold {
  font-weight: 700;
}
input:focus {
  outline: none;
}

.sidebar__right {
  background-color: #f4f7fc;
  height: 95vh;
  margin: 10px;
  border-radius: 5px;
}
